.container-flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.img-flex {
    margin-left: 1.5em;
    flex-grow: 0;
}

.headshot {
    max-width: 250px;
}

.text-flex {
    margin: 0.5em 0.5em 0.5em 0.5em;
    flex-grow: 1;   
}

@media only screen and (max-width: 980px) {
    .container-flex {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .img-flex {
        margin: 0em;
    }
}